<footer>
    <div class="container">
        <div class="foot-info">
            <div class="foot-details">
                <p>مركز انصار التطوعي &copy;</p>
            </div>
            <div class="foot-details">
                <p>Powered by:  <a target="_blank" href="https://www.devmode.me">DevMode</a> </p>
            </div>
        </div>
    </div>
</footer>