<section id="sidebar">
    <a href="/dashboard" class="brand"><i class='bx bxs-smile icon'></i> AVC</a>
    <ul class="side-menu">
        <li><a href="/dashboard" class="active"><i class='bx bxs-dashboard icon'></i>Dashboard</a></li>
    </ul>
</section>