<!-- Back arrow -->
<div>
    <a href="/dashboard" class="back-arrow1"><i class="fa-solid fa-arrow-left"></i></a>
<section class="profile-f">

    <!-- Profile card -->
    <div class="profile-card">
        
        <div class="profile-img" id="prof-img">
        </div>
        <div class="profile-info">
            <div class="profile-info-item">
                <i class="fa-solid fa-envelope"></i>
                <p class="username"></p>
            </div>
            <!-- item -->
            <div class="profile-info-item">
                <i class="fa-solid fa-user"></i>
                <p class="role"></p>
            </div>
            <!-- Phone -->
            <div class="profile-info-item">
                <i class="fa-solid fa-phone"></i>
                <p class="phone"></p>
            </div>
            <!-- Shift Days -->
            <div class="profile-info-item">
                <i class="fa-solid fa-calendar"></i>
                <p class="shiftDays"></p>
            </div>
            <!-- Blood type -->
            
            <div class="profile-info-item">
                    <i class="fa-solid fa-heart"></i>
                    <p class="bloodType"></p>
            </div>

            <div class="profile-info-item">
                <i class="fa-solid fa-id-card"></i>
                <p class="bloodType"><%=totalCases%> cases</p>
        </div>
        
        </div>
        <!-- edit profile btn -->
        <a href="/profile/edit" class="primary-btn">Edit Profile</a>
        
    </div>
</section>
</div>
<script type="module" src="/js/profile.js"></script>