<div class="container">
    <section style="display: flex;align-items: center;justify-content: center;">
        <div class="card" style="width: 70%;display: flex;align-items: center;justify-content: center; padding: 100px;flex-wrap: wrap;">
            <div class="card-body" style="display: flex;flex-direction: row-reverse; gap: 10px">   
                <form action="/triage/create" method="get">
                    <div class="form-group1">
                        <label style="display: block;text-align: right; width: 100%;" for="triageType">:نوع الحالة</label>
                        <select class="form-select" id="triageType" name="type">
                            <%types.forEach(function(type){%>
                                <option value="<%=type.code%>"><%=type.name%></option>
                            <%})%>
                        </select>
                    </div>
                    <br>
                    <div class="form-group1" id="car">
                        <label style="display: block;text-align: right; width: 100%" for="carnb">:رقم الاسعاف</label>
                        <select name="car">
                            <%cars.forEach(function(car){%>
                                <option value="<%=car.number%>"><%=car.number%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</option>
                            <%})%>
                            
                        </select>
                    </div>
                    <!-- Next btn -->
                    <center><button class="primary-btn">Next</button></center>
                </form>
                <!-- Next btn -->
            </div>
    </section>
</div>