<h1 class="title">User Dashboard</h1>
<br>
<div>
    <a href="/triage/create" class="primary-btn">Add New Triage</a>
</div>
<div class="info-data">
    <div class="card">
        <div class="head">
                <div class="db-data">
                    <h2><%=count%></h2>
                    <p>My triages</p>
                </div>
                <div class="db-icon">
                    <i class="fa-regular fa-newspaper"></i>
                </div>
        </div>
        <div>
            <a href="/triage/get" class="primary-btn">View all</a>
        </div>
    </div>
</div>
