<div class="triage-form-group">
    <!-- select if yes or no -->
    <label for="allergies">حساسية:</label>
    <select id="allergies" name="allergies" required>
        <option value="لا">لا</option>
        <option value="نعم">نعم</option>
    </select>

    <div class="allergies-fields" style="display: none;">
        <!-- a little hint that if no one of them leave it empty -->
        <center><small>إذا لم يكن لديه أي من هذه الحساسية، اترك الحقول فارغة.</small></center>
        
        <input type="text" id="foodAllergies" name="foodAllergies" placeholder="حساسية الطعام">
        <input type="text" id="medicationAllergies" name="medicalAllergies" placeholder="حساسية طبية">
        <input type="text" id="inhalorAllergies" name="inhalorAllergies" placeholder="حساسية تنفسية">
    </div>
</div>

<script>
    const allergies = document.getElementById('allergies');
    const allergiesFields = document.querySelector('.allergies-fields');

    allergies.addEventListener('change', function(){
        if(allergies.value === 'نعم'){
            allergiesFields.style.display = 'block';
        } else {
            allergiesFields.style.display = 'none';
        }
    });
</script>   

