<div class="triage-form-group">
    <label for="avpu">:AVPU</label>
    <select id="avpu" name="avpu">
        <option value="null" selected>None</option>
        <option value="Alert">Alert</option>
        <option value="Verbal">Verbal</option>
        <option value="Pain">Pain</option>
        <option value="Unresponsive">Unresponsive</option>
    </select>
</div>

<div class="triage-form-group ppte-group">
    <label for="ppte">:PPTE</label>
    <select id="ppte" name="ppte" required>
        <option value="Positive">Positive</option>
        <option value="Negative">Negative</option>
    </select>
</div>