<div class="section-title">
    <h1> -- DCAP_BTLS -- </h1>
</div>
<div>
    <div class="dcap-btls">
        <div class="dcap-btls-letter">
            <input type="checkbox" id="d" name="dcap-btls" value="D">
            <label for="d">Deformation - تغيرالشكل </label>
        </div>
        <div class="dcap-btls-letter">
            <input type="checkbox" id="c" name="dcap-btls" value="C">
            <label for="c">Contusion - ورم</label>
        </div>
        <div class="dcap-btls-letter">
            <input type="checkbox" id="a" name="dcap-btls" value="A">
            <label for="a">Abration جلف</label>
        </div>
        <div class="dcap-btls-letter">
            <input type="checkbox" id="p" name="dcap-btls" value="P">
            <label for="p">Pentration - ثقب</label>
        </div>
        <div class="dcap-btls-letter">
            <input type="checkbox" id="b" name="dcap-btls" value="B">
            <label for="b">Burn - حرق</label>
        </div>
        <div class="dcap-btls-letter">
            <input type="checkbox" id="t" name="dcap-btls" value="T">
            <label for="t">Tendreness</label>
        </div>
        <div class="dcap-btls-letter">
            <input type="checkbox" id="l" name="dcap-btls" value="L">
            <label for="l">Laceration - جرح</label>
        </div>
        <div class="dcap-btls-letter">
            <input type="checkbox" id="s" name="dcap-btls" value="S">
            <label for="s">Swelling - احتقان </label>
        </div>
</div>