<div class="section-title"><label for="notes">:ملاحظات</label></div>
<div class="triage-form-group">
    <div class="field">
        <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
    </div>
</div>

<div class="triage-form-group">
    <label for="ap_nb">:رقم الموافقة</label>
    <div class="field">
        <input type="number" min="0" id="ap_nb" name="approval_nb">
    </div>
</div>
<div class="triage-form-group">
    <div class="field">
        <button id="submitBtn" class="btn btn-primary" type="submit">Done</button>
    </div>
</div>