
<div class="section-title">
    <h1> -- العلامات الحياتية -- </h1>
</div>
<div class="triage-form-group">
    <label for="blood_pressure">:ضغط الدم</label>
    <div class="field">
        <input type="text" id="blood_pressure" name="preassure" placeholder="Ex: 12/8" required>
    </div>
</div>

<div class="triage-form-group">
    <label for="heart_rate">:النبض</label>
    <div class="field">
        <input type="text" id="heart_rate" name="heartRate" placeholder="النبض" required>
    </div>
</div>

<div class="triage-form-group">
    <label for="spo2">:SpO2</label>
    <div class="field">
        <input type="text" id="spo2" name="spo2" placeholder="ال SPO2" required>
    </div>
</div>
<div class="triage-form-group">
    <label for="temperature">:درجة الحرارة</label>
    <div class="field">
        <input type="text" id="temperature" name="temperature" placeholder="درجة الحرارة" required>
    </div>
</div>
<div class="section-title">
    <h1> --------------------- </h1>
</div>